# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
opendrift_env/
venv/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
